@import "styles/mixin";

.cards {
  @include min-max-width(100%);
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
  box-sizing: border-box;
}
