@import "styles/placeholder";
@import "styles/mixin";

$bg-color: #666;

.container {
  @extend %center-flex;
  background-color: $bg-color;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  &::before {
    @include size(100%);
    background-image: url("https://www.teahub.io/photos/full/18-180299_cool-digimon-wallpaper-2560x1600px-interesting-digimon-digimon.jpg");
    background-position: center;
    background-size: cover;
    content: "";
    filter: grayscale(1);
    opacity: .2;
    position: absolute;
  }
}

.main {
  @extend %center-horiz-flex;
  background-color: rgba(white, .8);
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  position: relative;
  width: calc(100% - 60px);
  max-width: 1280px;
}
